<ion-header no-border>
    <div class="login-header">
        <img icon-big src="assets/img/logo-img.png" class="logo-img">
    </div>
</ion-header>

<ion-header>
    <ion-toolbar>
        <ion-title>Log In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="center">
        <ion-card-content>
            <form #f="ngForm" (ngSubmit)="onLogin(f)">
                <ion-list>
                    <ion-item transparent>
                        <img icon-small src="assets/img/user.png">
                        <ion-input required ngModel name="email" type="email" placeholder="Enter your email here"></ion-input>
                    </ion-item>
                    <ion-item transparent>
                        <img icon-small src="assets/img/lock.png">
                        <ion-input required ngModel name="pwd" type="password" minlength='6' placeholder="******"></ion-input>
                    </ion-item>
                    <section text-center>
                        <ion-label class="forgot-password"><span class="link-button" (click)="forgotPass()">Forgot Password</span>
                        </ion-label>
                    </section>

                    <div linespace></div>
                    <section>
                        <ion-button size=" large " [disabled]="!f.valid " type="submit " color="primary" class="ion-button-class" shape="round" fill="solid" expand="block">Login</ion-button>
                        <ion-label class="ion-text-center">Don't Have An Account ?<span class="link-button " (click)="onViewRegister() ">Sign Up</span></ion-label>
                    </section>
                </ion-list>
                <br>
            </form>
        </ion-card-content>
    </div>
</ion-content>