<ion-header no-border>
    <div class="login-header">
        <img icon-big src="assets/img/logo-img.png" class="logo-img">
    </div>
</ion-header>

<ion-content>
    <div class="center">
        <div heading-column-lr>
            <h1 big-heading>Log In</h1>
        </div>
        <ion-card-content>
            <form #f="ngForm" (ngSubmit)="onLogin(f)">
                <ion-list>
                    <ion-item transparent>
                        <img icon-small src="assets/img/user.png">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input required ngModel name="email" type="email" placeholder="Your email here"></ion-input>
                    </ion-item>
                    <ion-item transparent>
                        <img icon-small src="assets/img/lock.png">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input required ngModel name="pwd" type="password" minlength='6' placeholder="******"></ion-input>
                    </ion-item>
                    <section text-center>
                        <span class="link-button" (click)="forgotPass()">Forgot Password</span>
                    </section>

                    <div linespace></div>
                    <section>
                        <ion-button size=" large " [disabled]="!f.valid " type="submit " color="primary" class="ion-button-class" shape="round" fill="solid" expand="block">Login</ion-button>
                        <ion-label class="ion-text-center">Don't Have An Account ?<span class="link-button " (click)="onViewRegister() ">Sign Up</span></ion-label>
                    </section>
                </ion-list>
                <br>
            </form>
        </ion-card-content>
    </div>
</ion-content>

<!-- <ion-content padding class="background ">
  <br>
  <br>
  <br>
  <br>
  <ion-card color="light ">
    <ion-card-header>
      <ion-card-title text-center>Log In</ion-card-title>
    </ion-card-header>
      
    <ion-card-content>
      <form #f="ngForm " (ngSubmit)="onLogin(f) ">
        <ion-list>
          <ion-item>
            <ion-label position="floating ">Email</ion-label>
            <ion-input
              required
              ngModel
              name="email "
              type="email "
              placeholder="Your email here "
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating ">Password</ion-label>
            <ion-input
              required
              ngModel
              name="pwd "
              type="password "
              minlength='6'
              placeholder="****** "
            ></ion-input>
          </ion-item>
          <br>
          <section text-center>
            <ion-button size="medium " [disabled]="!f.valid " type="submit " color="primary ">Login</ion-button>
            <ion-button fill="outline " size="medium " color="secondary " (click)="onViewRegister() ">Signup</ion-button>
            <ion-button fill="outline " size="medium " color="secondary " (click)="forgotPass() ">Forgot Password</ion-button>
          </section>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content> -->