<ion-header>
  <ion-toolbar>
    <ion-title>Atur Penjadwalan</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="onBackHome()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="center">
        <ion-card-content>
            <!-- <form #f="ngForm" (ngSubmit)="saveTodo()"> -->
                <ion-list>
                    <ion-item transparent>
                        <ion-label position="floating"><b>Title</b></ion-label>
                        <ion-input [(ngModel)]="todo.title"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Start Date</b></ion-label>
                        <ion-input>
                        <ion-datetime style="width: 100%; text-align: right;" displayFormat="DDDD MMM D, YYYY" min="2005" max="2100" value="2019-12-19" [(ngModel)]="todo.startDate"></ion-datetime>
                      </ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label><b>End Date</b></ion-label>
                        <ion-input>
                        <ion-datetime style="width: 100%; text-align: right;" displayFormat="DDDD MMM D, YYYY" min="2005"max="2100" value="2019-12-20" [(ngModel)]="todo.endDate"></ion-datetime>
                      </ion-input>
                      </ion-item>
                    <ion-item transparent>
                        <ion-label position="floating"><b>Note</b></ion-label>
                        <ion-input [(ngModel)]="todo.note"></ion-input>
                    </ion-item>
                    <br>
                      <app-location-picker text-center></app-location-picker>
                      <ion-label *ngIf="address" >Address: {{address}}</ion-label>
                      <br>
                    <section>
                        <ion-button size=" large " (click)="saveTodo()" type="submit " color="primary" class="ion-button-class" shape="round" fill="solid" expand="block">Submit</ion-button>
                    </section>
                </ion-list>
                <br>
            <!-- </form> -->
        </ion-card-content>
    </div>
    
</ion-content>



